/* Universal Styles */

html {
font-size: 16px;
margin-top: 0;
}

.navbar-brand {
  background-color:#000000;
  height: 3.785rem;
  width: auto;
}

.container{
background-color: #000000;
font-family: Open Sans;
font-size: 1rem;
font-weight:bold;
color: #f5a623;
}

.navbar-right{
  display: flex;
    flex-direction: row;
}

.container-workout{
height: 31.25rem;
padding-top: 3.875rem;
position: relative;
border-bottom-color: #794ae2;
border-bottom-style: solid;
border-bottom-width: 10px;
}

h1 {font-family:Roboto;
font-size:3.125rem;
font-weight:bold;
color:#794ae2;
align-items: center;
margin-top:4rem;
}


p {font-size:1.5rem;
  color: #666666;
margin-top:4rem;
}

.banner {background-color: #f2f2f2;
  margin-bottom: 4rem;
justify-content: center;
}

img{
  margin-right:5rem;
  margin-top: 8rem;
}

h2 {font-size:2.25rem;
  margin-top: 4rem;
font-weight: bold;
color:#794ae2;
justify-content: center;}

p{font-size:1.5rem;
line-height: 1.5;
color:#666666;
margin-bottom: 4rem;
}

.banner2 {background-color: #ffffff;
  margin-bottom: 4rem;

}
.banner3{background-color: #f2f2f2;
  margin-bottom: 4rem;}

.banner4{background-color: #ffffff;
  margin-bottom: 4rem;}

.container-map{background-image:url(pyt_dance_studio_resources/map.jpg);
height: 31.25rem;
width: auto;
padding-top: 3.875rem;
position: relative;}

.container-text {background-color: rgba(120,73,225,0.9);
width: 25rem;
height: 25rem;
position: absolute;
color: #ffffff;}

h4{ color: #ffffff;}

.container-bottom {height: 3.125rem;
  width: auto;
  background-color: rgba(120,73,227,0.9);
color:#ffffff;
font-size: .875rem;
justify-content: space-between;
}


h5{justify-content: flex-end;}
