
html {
font-size: 16px;
margin-top: 0;
}

.navbar-fixed-top {background-color:#000000;}
.navbar-brand {
    height: 3.785rem;
  width: auto;
}

.container{
font-family: Open Sans;
font-size: 1rem;
font-weight:bold;
color: #ffffff;
height: 3.785rem;
width: auto;
}

.navbar-right{
  display: flex;
    flex-direction: row;
    height: 3.785rem;
  width: auto;
    justify-content: space-between;
}


.container-dancers{background-image:url(pyt_dance_studio_resources/faculty-photo.png);
  display: flex;
  justify-content:center;
  height: 31.25rem;
width: auto;
border-bottom-color: #8a54ff;
border-bottom-style: solid;
border-bottom-width: .5rem;}

.container-text1 {
padding-top: 9rem;
font-family:Roboto, sans-serif;
width: 32rem;

}

h1{font-size:3.125rem;
font-weight:bold;
color:#8a54ff;
line-height:1;
justify-content: center;}

p {font-size:1.5rem;
  color: #999999;
line-height:1.5;
}

.container-faculty{padding-top:.3125rem;
padding-left: 7.5rem;
padding-right: 7.5rem;
padding-bottom: 11.25rem;
}

.container-jazz{
  margin-top: 5.3125rem;
width: 16.875rem;
height: auto;
justify-content: center;}

h2{font-size: 1.875rem;
font-weight: bold;
color: #8a54ff;
align-items: center;}

h3{font-weight: bold;
color: #000000;
padding-bottom: .625rem;
font-size:1.125rem;
line-height: 1.5;
}

p {font-size: .875rem;
line-height: 1.5;
align-items: center;}


.container-intro{margin-top: 5.3125rem;
width: 16.875rem;
height: auto;
justify-content: center;
align-items: center;}

h2{font-size: 1.875rem;
font-weight: bold;
color: #8a54ff;
align-items: center;
}
h3{font-weight: bold;
color: #000000;
padding-bottom: .625rem;
font-size:1.125rem;
line-height: 1.5;
}

p {font-size: .875rem;
line-height: 1.5;
align-items: center;}

.container-advanced{margin-top: 5.3125rem;
width: 16.875rem;
height: auto;
justify-content: center;
font-size: 1rem;
line-height: 1.5;
color:#000000;}

h2{font-size: 1.875rem;
font-weight: bold;
color: #8a54ff;
}
h3{font-weight: bold;
color: #000000;
padding-bottom: .625rem;
font-size:1.125rem;
line-height: 1.5;
}
p {font-size: .875rem;
line-height: 1.5;
}
.container-bottom {height: 3.125rem;
  width: auto;
  background-color: rgba(120,73,227,0.9);
color:#ffffff;
font-size: .875rem;
}
.container-icons{
  width: 9.375rem;
  display:flex;
  justify-content: space-between;

}
.container-contact{
  display: flex;
  justify-content: flex-end;}

.container-foot2 {
display: flex;
background-color: #000000;
height: 15rem;
padding-top:5rem;
justify-content: center;}

h5{
  display:flex;
color: #ffffff;
justify-content: center;
font-size: .875rem;
letter-spacing: 0.7px;
}
