
html {
font-size: 16px;
margin-top: 0;
}

.navbar-fixed-top {background-color:#000000;}
.navbar-brand {
    height: 3.785rem;
  width: auto;
}

.container{
font-family: Open Sans;
font-size: 1rem;
font-weight:bold;
color: #ffffff;
}

.navbar-right{
  display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.container-dancers{background-image:url(pyt_dance_studio_resources/faculty-photo.png);
  display: flex;
  justify-content:center;
  align-items: right;
  height: 31.25rem;
width: auto;
padding-top: 9rem;
border-bottom-color: #8a54ff;
border-bottom-style: solid;
border-bottom-width: .5rem;}

.container-text1 {
margin-top: 9rem;
font-family:Roboto, sans-serif;
width: 32rem;
align-items: center;
}

h1{font-size:3.125rem;
font-weight:bold;
color:#8a54ff;
line-height:1;}

p {font-size:1.5rem;
  color: #999999;
line-height:1.5;
}


.container-jazz{
  margin-top: 5.3125rem;
width: 16.875rem;
height: auto;
justify-content: center;}

h2{font-size: 1.875rem;
font-weight: bold;
color: #8a54ff;
align-items: center;}

h3{font-weight: bold;
color: #000000;
padding-bottom: .625rem;
font-size:1.125rem;
}

p {font-size: .875rem;
line-height: 1.5;
align-items: center;}


.container-intro{margin-top: 5.3125rem;
width: 16.875rem;
height: auto;
justify-content: center;
align-items: center;}

h2{font-size: 1.875rem;
font-weight: bold;
color: #8a54ff;
align-items: center;
}
h3{font-weight: bold;
color: #000000;
padding-bottom: .625rem;
font-size:1.125rem;
}

p {font-size: .875rem;
line-height: 1.5;
align-items: center;}

.container-advanced{margin-top: 5.3125rem;
width: 16.875rem;
height: auto;
justify-content: center;
font-size: 1rem;
line-height: 1.5;
color:#000000;}

h2{font-size: 1.875rem;
font-weight: bold;
color: #8a54ff;
}
h3{font-weight: bold;
color: #000000;
padding-bottom: .625rem;
font-size:1.125rem;
}
p {font-size: .875rem;
line-height: 1.5;
}
