
html {
font-size: 16px;
margin-top: 0;
}

.navbar-fixed-top {background-color:#000000;}
.navbar-brand {
    height: 3.785rem;
  width: auto;
}

.container{
font-family: Open Sans;
font-size: 1rem;
font-weight:bold;
color: #ffffff;
}

.navbar-right{
  display: flex;
    flex-direction: row;
    justify-content: space-between;
}
