/* Universal Styles */

html {
font-size: 16px;
margin-top: 0;
}

.navbar-fixed-top {background-color:#000000;}
.navbar-brand {
    height: 3.785rem;
  width: auto;
}

.container{
font-family: Open Sans;
font-size: 1rem;
font-weight:bold;
color: #ffffff;
}

.navbar-right{
  display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container-dancers{background-image:url(pyt_dance_studio_resources/dancers-photo.png);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 31.25rem;
width: auto;
padding-top: 3.875rem;}

.container-text1 {font-family:Roboto, sans-serif;
  border-style: solid;
width: 45rem;
}

h1{font-size:3.125rem;
font-weight:bold;
color:#ffffff;
line-height:1;}

p {font-size:1.5rem;
  color: #DCDCDC;
line-height:1.5;
}

.btn-primary {border-radius: 2px;
background-color:#f5a623;
font-family:Open Sans, sans-serif;
margin: 1.25rem 3.125rem;
font-size:1.375rem;
font-weight:bold;}

.container-graffiti{background-image:url(pyt_dance_studio_resources/graffiti-photo.png);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 31.25rem;
width: auto;
padding-top: 3.875rem;
}

.container-text {background-color: rgba(120,73,225,0.9);
width: 25rem;
height: 20rem;
justify-content: flex-end;
align-items: flex-end;

}

h2{
font-size:2.25rem;
font-weight:bold;
line-height:1.2;
color:#ffffff;
margin-left: 3rem;
margin-right: 3rem;
}

p{font-size:1.125rem;
line-height:1.4;
}

p{font-weight:bold;
margin-bottom: 3rem;
}

.container-fire{background-image:url(pyt_dance_studio_resources/fire-photo.png);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 31.25rem;
width: auto;
padding-top: 3.875rem;

  }

  .container-text2 {background-color: rgba(173,74,226,0.9);
  width: 25rem;
  height: 20rem;
  justify-content: flex-end;
  align-items: flex-end;
  }

  h2{
    font-size:2.25rem;
    font-weight:bold;
    line-height:1.2;
    color:#ffffff;
    margin-left: 3rem;
    margin-right: 3rem;
}

  p{font-size:1.125rem;
  line-height:1.4;

}

  p{font-weight:bold;
    margin-bottom: 3rem;
}

.container-jump{background-image:url(pyt_dance_studio_resources/jump-photo.png);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 31.25rem;
  width: auto;
  padding-top: 3.875rem;
}

.container-text3 {background-color: rgba(173,74,226,0.9);
width: 25rem;
height: 20rem;
justify-content: flex-end;
align-items: flex-end;
}

  h2{
    font-size:2.25rem;
    font-weight:bold;
    line-height:1.4;
    color:#ffffff;
    margin-left: 3rem;
    margin-right: 3rem;
}

  p{font-size:1.125rem;
  line-height:1.4;

}

  p{font-weight:bold;
    margin-bottom: 3rem;
}

.container-bottom {height: 3.125rem;
  width: auto;
  background-color: rgba(120,73,227,0.9);
color:#ffffff;
font-size: .875rem;
}


.container-foot2 {
background-color: #000000;
height: 15rem;
width: auto;
color: #ffffff;
justify-content: center;
font-size: .875rem;
letter-spacing: 0.7px;
}
