/* Universal Styles */

html {
font-size: 16px;
}
.navbar-brand {background-color:#000000;

}

.container-dancers{background-image:url(pyt_dance_studio_resources/dancers-photo.png);
height: 300px;
width:100%;
}

h1 {font-family:Roboto;
font-size:3.125rem;
font-weight:bold;
color:#DCDCDC;
line-height:1;}

p {font-size:1.5rem;
  color: #DCDCDC;
line-height:1.5;}

.button-buy {border-radius:2px;
background-color:#f5a623;
font-family:Open Sans;
font-size:1.375rem;
font-weight:bold;
width: 15%;
color: #DCDCDC;}

.container-graffiti{background-image:url(pyt_dance_studio_resources/graffiti-photo.png);
height: 300 px;
width:100%;}

.container-text {background-color: rgba(120,73,225,0.9);
width: 30%;
justify-content: flex-end;}

h2{
font-size:2.25rem;
font-weight:bold;
line-height:1.4;}

p{font-size:1.125rem;
line-height:1.4;}

p{font-weight:bold;}

.container-fire{background-image:url(pyt_dance_studio_resources/fire-photo.png);
  height: 300 px;
  width:100%;}

  .container-text2 {background-color: rgba(173,74,226,0.9);
  width: 30%;
  justify-content: flex-end;}

  h2{
  font-size:2.25rem;
  font-weight:bold;
  line-height:1.4;
}

  p{font-size:1.125rem;
  line-height:1.4;
}

  p{font-weight:bold;
}
